<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form #loginForm="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <p>Enter e-mail</p>
        </ion-col>
        <ion-col size="12">
          <ion-input class="input" name="email" ngModel #uemail="ngModel" [(ngModel)]=email required
          placeholder="Enter email"> </ion-input>
        </ion-col>
        <ion-col size="12" *ngIf="uemail.touched && !uemail.valid">
          <ion-text color="danger">
            <p *ngIf="uemail.errors.required">Please enter email</p>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <p>Enter password</p>
        </ion-col>
        <ion-col size="12">
          <ion-input class="input" name="password" ngModel #upass="ngModel" [(ngModel)]=password required
          placeholder="Enter password" type="password"> </ion-input>
        </ion-col>
        <ion-col size="12" *ngIf="upass.touched && !upass.valid">
          <ion-text color="danger">
            <p *ngIf="upass.errors.required">Please enter password</p>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" color="primary" [disabled]="!loginForm.valid" (click)="signIn()">Sign in</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    </form>
  </div>
</ion-content>